$fontcolor: #525f7f !global;
$blue: #6292d0 !global;
$websitecolor: #f2f2f2 !global;
$fontfamily: 'Avenir', Helvetica, Arial, sans-serif !global;

$terminalheader: #e4e3e5 !global;
$terminalwindow: #5a5d7a !global;
$terminalinputfontcolor: #f7f7f7 !global;
$terminalreturnfontcolor: #e7d184 !global;
$terminallinkfontcolor: #00cccc !global;

$projectcardbackgroundcolor: #fff !global;
